<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Patient Scan Booking</title>
  <meta name="description" content="SHCHospital.com">
  <meta name="keywords">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="../css/index.css" type="text/css" media="all" />
  <link rel="stylesheet" href="../css/login.css" type="text/css" media="all" />
  <link rel="stylesheet" href="../css/patient.css" type="text/css" media="all" />
  <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal" type="text/css" media="all" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" type="text/css" media="all" />
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <!--banner-->
  <section id="patientbanner" class="banner">
    <div class="bg-color">
      <nav class="navbar navbar-default navbar-fixed-top">
        <!-- Navbar content -->
      </nav>
      <div class="container">
        <div class="row">
          <div class="banner-info">
            <!-- Banner content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ banner-->

  <section id="radiology" class="section-padding">
    <div class="container">
      <!-- Form for booking a scan -->
      <form action="{{ url_for('book_scan') }}" method="post" class="booking-form">
        <div class="form-row">
          <h2>Book a Scan</h2>
          <label for="appointmentDate">Appointment Date:</label>
          <input type="date" id="appointmentDate" name="appointmentDate" required>
        </div>
        <div class="form-row">
          <label for="appointmentHour">Appointment Hour:</label>
          <input type="time" id="appointmentHour" name="appointmentHour" required>
        </div>
        <div class="form-row">
          <label for="purpose">Purpose:</label>
          <input type="text" id="purpose" name="purpose" required>
        </div>
        <div class="form-row">
          <button class="btn btn-login" type="submit">Book Scan</button>
        </div>
      </form>
    </div>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <div class="top-footer">
      <div class="container">
        <div class="row">
          <!-- Footer content -->
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery.easing.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/custom.js"></script>
  <script src="../js/Patient.js"></script>
</body>

</html>
