<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Appointments on {{ date }}</title>
    <link rel="stylesheet" href="../css/login.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/index.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" type="text/css" media="all" />
</head>
<body>
    <div class="container">
        <h1>Appointments on {{ date }}</h1>
      
        <div class="appointments-list">
            {% if appointments %}
                {% for appointment in appointments %}
                    <div class="appointment-box " >
                        <p class="appointment-info">Patient name: {{ appointment['fullname'] }} </p>
                        <p class="appointment-info">Purpose: {{ appointment['purpose'] }}</p>
                        <p class="appointment-info">Time: {{ appointment['starthour'] }} - {{ appointment['endhour'] }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p class="no-appointments">No appointments found for this date.</p>
            {% endif %}
        </div>
        <a href="/my_calendar" class="btn">Back</a>
    </div>
</body>
</html>