<!-- edit_doctor.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Edit Doctor</title>
    <link rel="stylesheet" href="../css/login.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/index.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" type="text/css" media="all" />
  </head>

  <body>
    <h2>Edit Doctor</h2>
    <form
      method="POST"
      action="{{ url_for('edit_doctor') }}"
      enctype="multipart/form-data"
    >
      <label for="ID">DOCTOR ID</label>
      <input
        type="text"
        id="doctor_id"
        name="doctor_id"
        {% if doctor %}
          value="{{ doctor['radiologistid'] }}"
        {% endif %}
        readonly
      /><br />
      <label for="full_name">FULL NAME</label>
      <input
        type="text"
        name="full_name"
        {% if doctor %}
          value="{{ doctor['fullname'] }}"
        {% endif %}
        required
      /><br />

      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        {% if doctor %}
          value="{{ doctor['email'] }}"
        {% endif %}
        required
      /><br />
      <label for="user_name">Username</label>
      <input
        type="text"
        id="user_name"
        name="user_name"
        {% if doctor %}
          value="{{ doctor['username'] }}"
        {% endif %}
        required
      /><br />
      <label for="password"> Password</label>
      <input type="password" name="password"  id="password"
      {% if doctor %}
          value="{{ doctor['password'] }}"
      {% endif %} 
      required /><br />

      <label for="ssn">SSN</label>
      <input type="text" name="ssn"  id="SSN" 
      {% if doctor %}
          value="{{ doctor['ssn'] }}"
      {% endif %}
      required /><br />

      <label for="photo">Update Profile Picture</label>
      <input type="file" name="photo" accept="image/*" /><br />

      {% if message %}
          <h5>{{ message }}</h5>
      {% endif %}


      <img
        {% if doctor %}
          src="{{doctor['RadiologistImage']}}"
          alt="{{ doctor['fullname'] }}'s Photo"
        {% endif %}
        
        style="max-width: 100px; max-height: 100px"
      />

      <button type="submit">Save Changes</button>
    </form>
  </body>
</html>
