<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Information</title>
    <link rel="stylesheet" href="../css/login.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/index.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" type="text/css" media="all" />
</head>
<body>
    <header>
        <a href="{{ url_for('show_scans', patient_id=patient.patientid) }}" class="header-button">My Scans</a>
        <a href="{{ url_for('book_scan') }}" class="header-button">My Appointments</a>
        <a href="{{ url_for('book_scan') }}" class="header-button">Book Appointment</a>
        <a href="{{ url_for('add_insurance') }}" class="header-button">Add Insurance</a>
        <a href="{{ url_for('index') }}" class="header-button">Back to Home</a>
    </header>

    <div class="info-container">
        <h1>Patient Information</h1>
        <div class="patient-info">
            <p class="label">Full Name:</p>
            <p class="data">{{ patient['fullname'] }}</p>
        </div>
        <div class="patient-info">
            <p class="label">Username:</p>
            <p class="data">{{ patient['username'] }}</p>
        </div>
        <div class="patient-info">
            <p class="label">ID:</p>
            <p class="data">{{ patient['patientid'] }}</p>
        </div>
        <div class="patient-info">
            <p class="label">SSN:</p>
            <p class="data">{{ patient['ssn'] }}</p>
        </div>
        <div class="patient-info">
            <p class="label">Email:</p>
            <p class="data">{{ patient['email'] }}</p>
        </div>
        <div class="patient-info">
            <p class="label">Birthdate:</p>
            <p class="data">{{ patient['dateofbirth'] }}</p>
        </div>
        <!-- Add more patient information fields as needed -->
    </div>
</body>
</html>
